<!DOCTYPE html>
<html lang="zh-Hant-HK">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- Tailored CSS -->
    <link rel="stylesheet" type="text/css" href="css/module.css">

    <!-- Tailored JavaScript-->
    <script src="js/ExtractData.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="./main.css">-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>紫微斗數</title>
</head>

<body>
    <nav class="navbar bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <form class="form-inline">
                    <!--<input id="time" class="form-control mr-sm-2" type="text" placeholder="時" required>-->
                    <select id="time">
                        <option value="1" selected>子時(00:00 - 00:59)</option>
                        <option value="2">丑時(01:00 - 02:59)</option>
                        <option value="3">寅時(03:00 - 04:59)</option>
                        <option value="4">卯時(05:00 - 06:59)</option>
                        <option value="5">辰時(07:00 - 08:59)</option>
                        <option value="6">巳時(09:00 - 10:59)</option>
                        <option value="7">午時(11:00 - 12:59)</option>
                        <option value="8">未時(13:00 - 14:59)</option>
                        <option value="9">申時(15:00 - 16:59)</option>
                        <option value="10">酉時(17:00 - 18:59)</option>
                        <option value="11">戍時(19:00 - 20:59)</option>
                        <option value="12">亥時(21:00 - 22:59)</option>
                        <option value="1">子時(23:00 - 23:59)</option>
                    </select>
                    <select id="gender">
                        <option value="0">女</option>
                        <option value="1">男</option>
                    </select>
                    <select id="dateType">
                        <option value="1" selected>陽曆</option>
                        <option value="2">陰曆</option>
                    </select>
                    <input id="day" class="form-control mr-sm-2" type="text" placeholder="日" required>
                    <input id="month" class="form-control mr-sm-2" type="text" placeholder="月" required>
                    <input id="year" class="form-control mr-sm-2" type="text" placeholder="年" required>
                    <button id="submitBtn" class="btn btn-success" type="button" onclick="createModule()">起盤</button>
                </form>

            </li>
        </ul>
    </nav>
    <section id="first_sec">

    </section>
    <section id="second_sec">

    </section>
    <section id="third_sec">

    </section>
    <script>
        var template_obj = {
            "main": {
                "front": "<div id=\"\" class=\"main\" style=\"display:inline-block;\">",
                "end": "</div>"
            },
            "moon": {
                "front": "<div class=\"moon\">",
                "end": "</div>"
            },
            "first_tier": {
                "front": "<div class=\"first_tier\">",
                "end": "</div>"
            },
            "second_tier": {
                "front": "<div class=\"second_tier\">",
                "end": "</div>"
            },
            "changes": {
                "front": "<span id=\"\">",
                "end": "</span>"
            },
            "character": {
                "front": "",
                "end": ""
            },
            "position": {
                "front": "<div>",
                "end": "</div>"
            },
            "ten_years": {
                "front": "",
                "end": ""
            },
            "cheong_sun": {
                "front": "",
                "end": ""
            },
            "module_type": {
                "front": "",
                "end": ""
            },
            "span_ten_years_positioning": {
                "front": "",
                "end": ""
            },
            "span_year_data": {
                "front": "",
                "end": ""
            },
            "span_age": {
                "front": "",
                "end": ""
            },
            "span_anatomy_core": {
                "front": "",
                "end": ""
            },
            "span_module_core": {
                "front": "",
                "end": ""
            },
            "span_module_level": {
                "front": "",
                "end": ""
            },
            "span_normal_year": {
                "front": "",
                "end": ""
            },
            "span_lunar_year": {
                "front": "",
                "end": ""
            },
            "span_lunar_month": {
                "front": "",
                "end": ""
            },
            "span_lunar_day": {
                "front": "",
                "end": ""
            },
            "span_lunar_time": {
                "front": "",
                "end": ""
            },
            "people_type": {
                "front": "",
                "end": ""
            },
            "special": {
                "front": "<div class=\"special\">",
                "end": "</div>"
            }

        };
        /*var top_position = $(".navbar").height();
        $(window).scroll(function () {
            var position_staying = $(window).scrollTop();
            if (position_staying > top_position) {
                $(".navbar").hide();
            } else {
                $(".navbar").show();
            }
        });*/
        var section_list = $(document).find("section");

        function createModule() {
            $('#submitBtn').prop('disabled', true);
            var time = $("#time").children("option:selected").val();
            var day = "";
            var month = "";
            var year = "";
            var tim_gone = "";
            var c_year = "";
            var gender = $("#gender").children("option:selected").val();

            section_list.each(function (index, elem) {
                EmbedTemplate(elem.id);
            });

            $.ajax({
                url: `https://ziemaytausoul.azurewebsites.net/api/DateTransformation/GetLunarDate?year=${$("#year").val()}&month=${$("#month").val()}&day=${$("#day").val()}`,
                method: "GET",
                success: function (result, status, xhr) {
                    console.log(result, xhr);
                    var transformed_date = result["result"];
                    var date_arr = transformed_date.split("_");
                    if (date_arr) {
                        if ($("#dateType").children("option:selected").val() == "1") {
                            c_year = date_arr[0];
                            month = date_arr[1];
                            day = date_arr[2];
                        } else {
                            c_year = $("#year").val();
                            month = $("#month").val();
                            day = $("#day").val();
                        }
                        tim_gone = date_arr[3];
                        year = date_arr[4];
                        getModulData();
                    } else {
                        Console.log(result);
                        Console.log(status);
                        Console.log(xhr);
                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr.status);
                    console.log(error);
                }
            });

            function getModulData() {
                $.ajax({
                    url: "/createModule",
                    method: "POST",
                    data: JSON.stringify({
                        "tim_gone": tim_gone,
                        "year": year,
                        "month": month,
                        "day": day,
                        "time": time,
                        "c_year": c_year,
                        "gender": gender
                    }),
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: function (result, status, xhr) {
                        LocateStar(result);
                        $('#submitBtn').prop('disabled', false);
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.status);
                        console.log(error);
                    }
                });
            }
        }

        function LocateStar(module) {
            $.each(module, function (sec_name, section_content) {
                $.each(section_content, function (star, details) {
                    const node_id = `${details.position}_${details.metaData[1]}`;
                    const template = template_obj[details.metaData[1]];
                    /*console.log(
                        `#${sec_name}_${node_id} : ${details.metaData[0]} : ${details.metaData[1]}`);*/
                    $(`#${sec_name}_${node_id}`).append(
                        `${template["front"]}${details.metaData[0]}${template["end"]}`);
                });
                switch (sec_name) {
                    case "first_sec":
                        $(`#${sec_name}_510_module_type`).text("天盤");
                        break;
                    case "second_sec":
                        $(`#${sec_name}_510_module_type`).text("地盤");
                        break;
                    default:
                        $(`#${sec_name}_510_module_type`).text("人盤");
                        break;
                }
            });
        }
    </script>
</body>

</html>