<!DOCTYPE html>
<html lang="zh-Hant-HK">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy"
        content="connect-src https://ziemaytausoul.azurewebsites.net/api/DateTransformation/GetYearTransform?*;">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- Tailored CSS -->
    <link rel="stylesheet" type="text/css" href="css/module.css">

    <!-- Tailored JavaScript-->
    <script src="js/ExtractData.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="./main.css">-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <nav class="navbar bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <form class="form-inline">
                    <!--<input id="time" class="form-control mr-sm-2" type="text" placeholder="時" required>-->
                    <select id="time">
                        <option value="1" selected>子時(00:00 - 00:59)</option>
                        <option value="2">丑時(01:00 - 02:59)</option>
                        <option value="3">寅時(03:00 - 04:59)</option>
                        <option value="4">卯時(05:00 - 06:59)</option>
                        <option value="5">辰時(07:00 - 08:59)</option>
                        <option value="6">巳時(09:00 - 10:59)</option>
                        <option value="7">午時(11:00 - 12:59)</option>
                        <option value="8">未時(13:00 - 14:59)</option>
                        <option value="9">申時(15:00 - 16:59)</option>
                        <option value="10">酉時(17:00 - 18:59)</option>
                        <option value="11">戍時(19:00 - 20:59)</option>
                        <option value="12">亥時(21:00 - 22:59)</option>
                        <option value="1">子時(23:00 - 23:59)</option>
                    </select>
                    <input id="day" class="form-control mr-sm-2" type="text" placeholder="日" required>
                    <input id="month" class="form-control mr-sm-2" type="text" placeholder="月" required>
                    <input id="year" class="form-control mr-sm-2" type="text" placeholder="年" required>
                    <button id="submitBtn" class="btn btn-success" type="button" onclick="createModule()">起盤</button>
                </form>
            </li>
        </ul>
    </nav>
    <section id="first-sec">
        <div style="height: 100vh;">
            <div id="top" class="row-3" style="position:relative;">
                <!--first row-4-->
                <div id="snake" class="col-3">
                    <!--first row-4, first column-->
                    <div class="col-beside">
                        <!--first column-->
                        <div class="row-4">
                        </div>
                        <div class="row-4">
                        </div>
                        <div class="row-4">
                            <div class="col-12">
                                <div id="6_first_tier" class="row-6 content">

                                </div>
                                <div id="6_second_tier" class="row-6 content">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-mid">
                        <!--second column-->
                        <div id="6_main" class="content" style="text-align:center;">

                        </div>
                        <div class="row-4">
                            <div class="col-12">
                                <div id="6_ten_years" class="row-6 ten_years">

                                </div>
                                <div id="6_cheong_sun" class="row-6 cheong_sun">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-beside">
                        <!--third column-->
                        <div class="row-4 ">
                            <div class="col-12 ">
                                <div id="6_moon" class="row-12 content">

                                </div>
                            </div>
                        </div>
                        <div class="row-4">

                        </div>
                        <div class="row-4 content">
                            <div class="col-12">
                                <div class="row-5">

                                </div>
                                <div class="row-7">
                                    <div id="6_character" class="character">

                                    </div>
                                    <div id="6_position" class="position">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="horse" class="col-3">
                    <!--first row-4, second column-->
                    <div class="col-beside">
                        <!--first column-->
                        <div class="row-4">
                        </div>
                        <div class="row-4">
                        </div>
                        <div class="row-4">
                            <div class="col-12">
                                <div id="7_first_tier" class="row-6 content">

                                </div>
                                <div id="7_second_tier" class="row-6 content">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-mid">
                        <!--second column-->
                        <div id="7_main" class="content" style="text-align:center;">

                        </div>
                        <div class="row-4">
                            <div class="col-12">
                                <div id="7_ten_years" class="row-6 ten_years">

                                </div>
                                <div id="7_cheong_sun" class="row-6 cheong_sun">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-beside">
                        <!--third column-->
                        <div class="row-4">
                            <div class="col-12 ">
                                <div id="7_moon" class="row-12 content">

                                </div>
                            </div>
                        </div>
                        <div class="row-4">

                        </div>
                        <div class="row-4 content">
                            <div class="col-12">
                                <div class="row-5">

                                </div>
                                <div class="row-7">
                                    <div id="7_character" class="character">

                                    </div>
                                    <div id="7_position" class="position">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="goat" class="col-3">
                    <!--first row-4, third column-->
                    <div class="col-beside">
                        <!--first column-->
                        <div class="row-4">
                        </div>
                        <div class="row-4">
                        </div>
                        <div class="row-4">
                            <div class="col-12">
                                <div id="8_first_tier" class="row-6 content">

                                </div>
                                <div id="8_second_tier" class="row-6 content">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-mid">
                        <!--second column-->
                        <div id="8_main" class="content" style="text-align:center;">

                        </div>
                        <div class="row-4">
                            <div class="col-12">
                                <div id="8_ten_years" class="row-6 ten_years">

                                </div>
                                <div id="8_cheong_sun" class="row-6 cheong_sun">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-beside">
                        <!--third column-->
                        <div class="row-4 ">
                            <div class="col-12 ">
                                <div id="8_moon" class="row-12 content">

                                </div>
                            </div>
                        </div>
                        <div class="row-4">

                        </div>
                        <div class="row-4 content">
                            <div class="col-12">
                                <div class="row-5">

                                </div>
                                <div class="row-7">
                                    <div id="8_character" class="character">

                                    </div>
                                    <div id="8_position" class="position">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="monkey" class="col-3">
                    <!--first row-4, forth column-->
                    <div class="col-beside">
                        <!--first column-->
                        <div class="row-4">
                        </div>
                        <div class="row-4">
                        </div>
                        <div class="row-4">
                            <div class="col-12">
                                <div id="9_first_tier" class="row-6 content">

                                </div>
                                <div id="9_second_tier" class="row-6 content">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-mid">
                        <!--second column-->
                        <div id="9_mian" class="content" style="text-align:center;">

                        </div>
                        <div class="row-4">
                            <div class="col-12">
                                <div id="9_ten_years" class="row-6 ten_years">

                                </div>
                                <div id="9_cheong_sun" class="row-6 cheong_sun">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-beside">
                        <!--third column-->
                        <div class="row-4">
                            <div class="col-12 ">
                                <div id="9_moon" class="row-12 content">

                                </div>
                            </div>
                        </div>
                        <div class="row-4">

                        </div>
                        <div class="row-4 content">
                            <div class="col-12">
                                <div class="row-5">

                                </div>
                                <div class="row-7">
                                    <div id="9_character" class="character">

                                    </div>
                                    <div id="9_position" class="position">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="middle" class="row-6">
                <!--second row-4-->
                <div class="col-3">
                    <div class="row-6">
                        <div id="dragon" class="col-12">
                            <div class="col-beside">
                                <!--first column-->
                                <div class="row-4">
                                </div>
                                <div class="row-4">
                                </div>
                                <div class="row-4">
                                    <div class="col-12">
                                        <div id="5_first_tier" class="row-6 content">

                                        </div>
                                        <div id="5_second_tier" class="row-6 content">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-mid">
                                <!--second column-->
                                <div id="5_main" class="content" style="text-align:center;">

                                </div>
                                <div class="row-4">
                                    <div class="col-12">
                                        <div id="5_ten_years" class="row-6 ten_years">

                                        </div>
                                        <div id="5_cheong_sun" class="row-6 cheong_sun">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-beside">
                                <!--third column-->
                                <div class="row-4">
                                    <div class="col-12">
                                        <div id="5_moon" class="row-12 content">

                                        </div>
                                    </div>
                                </div>
                                <div class="row-4">

                                </div>
                                <div class="row-4 content">
                                    <div class="col-12">
                                        <div class="row-5">

                                        </div>
                                        <div class="row-7">
                                            <div id="5_character" class="character">

                                            </div>
                                            <div id="5_position" class="position">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-6">
                        <div id="rabbit" class="col-12">
                            <div class="col-beside">
                                <!--first column-->
                                <div class="row-4">
                                </div>
                                <div class="row-4">
                                </div>
                                <div class="row-4">
                                    <div class="col-12">
                                        <div id="4_first_tier" class="row-6 content">

                                        </div>
                                        <div id="4_second_tier" class="row-6 content">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-mid">
                                <!--second column-->
                                <div id="4_main" class="content" style="text-align:center;">

                                </div>
                                <div class="row-4">
                                    <div class="col-12">
                                        <div id="4_ten_years" class="row-6 ten_years">

                                        </div>
                                        <div id="4_cheong_sun" class="row-6 cheong_sun">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-beside">
                                <!--third column-->
                                <div class="row-4">
                                    <div class="col-12 ">
                                        <div id="4_moon" class="row-12 content">

                                        </div>
                                    </div>
                                </div>
                                <div class="row-4">

                                </div>
                                <div class="row-4 content">
                                    <div class="col-12">
                                        <div class="row-5">

                                        </div>
                                        <div class="row-7">
                                            <div id="4_character" class="character">

                                            </div>
                                            <div id="4_position" class="position">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="center_vector" class="col-6">
                    <div class="source">中洲派紫微斗數<span id="module_type">天盤</span></div>
                    <div class="center_vec_other">
                        <div>現行&nbsp;<span id="ten_years_positioning"> </span>&nbsp;大限</div>
                        <div id="year_data"><span id="span_year_data">己亥</span>年<span id="span_year_old">25</span>歲
                        </div>
                        <div id="body_core">身主&nbsp;<span id="span_body_core"></span>天機</div>
                        <div id="module_core">命主&nbsp;<span id="span_module_core">巨門</span></div>
                        <div id="module_level"><span>土五</span>局</div>
                        <div id="birth_data"><span id="span_normal_year"
                                style="writing-mode: horizontal-tb;">1995</span>年<span
                                id="span_lunar_year">乙亥</span>年<span id="span_lunar_month">7</span>月<span
                                id="span_lunar_day">30</span>日<span id="span_lunar_time">子</span>時</div>
                        <div id="people_type">陰男</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row-6">
                        <div id="rooster" class="col-12">
                            <div class="col-beside">
                                <!--first column-->
                                <div class="row-4">
                                </div>
                                <div class="row-4">
                                </div>
                                <div class="row-4">
                                    <div class="col-12">
                                        <div id="10_first_tier" class="row-6 content">

                                        </div>
                                        <div id="10_second_tier" class="row-6 content">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-mid">
                                <!--second column-->
                                <div id="10_main" class="content" style="text-align:center;">

                                </div>
                                <div class="row-4">
                                    <div class="col-12">
                                        <div id="10_ten_years" class="row-6 ten_years">

                                        </div>
                                        <div id="10_cheong_sun" class="row-6 cheong_sun">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-beside">
                                <!--third column-->
                                <div class="row-4 ">
                                    <div class="col-12 ">
                                        <div id="10_moon" class="row-12 content">

                                        </div>
                                    </div>
                                </div>
                                <div class="row-4">

                                </div>
                                <div class="row-4 content">
                                    <div class="col-12">
                                        <div class="row-5">

                                        </div>
                                        <div class="row-7">
                                            <div id="10_character" class="character">

                                            </div>
                                            <div id="10_position" class="position">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-6">
                        <div id="dog" class="col-12">
                            <div class="col-beside">
                                <!--first column-->
                                <div class="row-4">
                                </div>
                                <div class="row-4">
                                </div>
                                <div class="row-4">
                                    <div class="col-12">
                                        <div id="11_first_tier" class="row-6 content">

                                        </div>
                                        <div id="11_second_tier" class="row-6 content">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-mid">
                                <!--second column-->
                                <div id="11_main" class="content" style="text-align:center;">

                                </div>
                                <div class="row-4">
                                    <div class="col-12">
                                        <div id="11_ten_years" class="row-6 ten_years">

                                        </div>
                                        <div id="11_cheong_sun" class="row-6 cheong_sun">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-beside">
                                <!--third column-->
                                <div class="row-4">
                                    <div class="col-12 ">
                                        <div id="11_moon" class="row-12 content">

                                        </div>
                                    </div>
                                </div>
                                <div class="row-4">

                                </div>
                                <div class="row-4 content">
                                    <div class="col-12">
                                        <div class="row-5">

                                        </div>
                                        <div class="row-7">
                                            <div id="11_character" class="character">

                                            </div>
                                            <div id="11_position" class="position">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="bottom" class="row-3">
                <!--third row-4-->
                <div id="tiger" class="col-3">
                    <div class="col-beside">
                        <!--first column-->
                        <div class="row-4">
                        </div>
                        <div class="row-4">
                        </div>
                        <div class="row-4">
                            <div class="col-12">
                                <div id="3_first_tier" class="row-6 content">

                                </div>
                                <div id="3_second_tier" class="row-6 content">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-mid">
                        <!--second column-->
                        <div id="3_main" class="content" style="text-align:center;">

                        </div>
                        <div class="row-4">
                            <div class="col-12">
                                <div id="3_ten_years" class="row-6 ten_years">

                                </div>
                                <div id="3_cheong_sun" class="row-6 cheong_sun">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-beside">
                        <!--third column-->
                        <div class="row-4 ">
                            <div class="col-12">
                                <div id="3_moon" class="row-12 content">

                                </div>
                            </div>
                        </div>
                        <div class="row-4">

                        </div>
                        <div class="row-4 content">
                            <div class="col-12">
                                <div class="row-5">

                                </div>
                                <div class="row-7">
                                    <div id="3_character" class="character">

                                    </div>
                                    <div id="3_position" class="position">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ox" class="col-3">
                    <div class="col-beside">
                        <!--first column-->
                        <div class="row-4">
                        </div>
                        <div class="row-4">
                        </div>
                        <div class="row-4">
                            <div class="col-12">
                                <div id="2_first_tier" class="row-6 content">

                                </div>
                                <div id="2_second_tier" class="row-6 content">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-mid">
                        <!--second column-->
                        <div id="2_main" class="content" style="text-align:center;">

                        </div>
                        <div class="row-4">
                            <div class="col-12">
                                <div id="2_ten_years" class="row-6 ten_years">

                                </div>
                                <div id="2_cheong_sun" class="row-6 cheong_sun">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-beside">
                        <!--third column-->
                        <div class="row-4 ">
                            <div class="col-12 ">
                                <div id="2_moon" class="row-12 content">

                                </div>
                            </div>
                        </div>
                        <div class="row-4">

                        </div>
                        <div class="row-4 content">
                            <div class="col-12">
                                <div class="row-5">

                                </div>
                                <div class="row-7">
                                    <div id="2_character" class="character">

                                    </div>
                                    <div id="2_position" class="position">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="rat" class="col-3">
                    <div class="col-beside">
                        <!--first column-->
                        <div class="row-4">
                        </div>
                        <div class="row-4">
                        </div>
                        <div class="row-4">
                            <div class="col-12">
                                <div id="1_first_tier" class="row-6 content">

                                </div>
                                <div id="1_second_tier" class="row-6 content">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-mid">
                        <!--second column-->
                        <div id="1_main" class="content" style="text-align:center;">

                        </div>
                        <div class="row-4">
                            <div class="col-12">
                                <div id="1_ten_years" class="row-6 ten_years">

                                </div>
                                <div id="1_cheong_sun" class="row-6 cheong_sun">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-beside">
                        <!--third column-->
                        <div class="row-4 ">
                            <div class="col-12 ">
                                <div id="1_moon" class="row-12 content">

                                </div>
                            </div>
                        </div>
                        <div class="row-4">

                        </div>
                        <div class="row-4 content">
                            <div class="col-12">
                                <div class="row-5">

                                </div>
                                <div class="row-7">
                                    <div id="1_character" class="character">

                                    </div>
                                    <div id="1_position" class="position">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pig" class="col-3">
                    <div class="col-beside">
                        <!--first column-->
                        <div class="row-4">
                        </div>
                        <div class="row-4">
                        </div>
                        <div class="row-4">
                            <div class="col-12">
                                <div id="12_first_tier" class="row-6 content">

                                </div>
                                <div id="12_second_tier" class="row-6 content">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-mid">
                        <!--second column-->
                        <div id="12_main" class="content" style="text-align:center;">

                        </div>
                        <div class="row-4">
                            <div class="col-12">
                                <div id="12_ten_years" class="row-6 ten_years">

                                </div>
                                <div id="12_cheong_sun" class="row-6 cheong_sun">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-beside">
                        <!--third column-->
                        <div class="row-4 ">
                            <div class="col-12 ">
                                <div id="12_moon" class="row-12 content">

                                </div>
                            </div>
                        </div>
                        <div class="row-4">
                        </div>
                        <div class="row-4 content">
                            <div class="col-12">
                                <div class="row-5">

                                </div>
                                <div class="row-7">
                                    <div id="12_character" class="character">

                                    </div>
                                    <div id="12_position" class="position">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="second-sec">

    </section>
    <section id="third-sec">

    </section>
    <script>
        var template_obj = {
            "main": {
                "front": "<div id=\"\" class=\"main\" style=\"display:inline-block;\"><span id=\"\">",
                "end": "</span></div>"
            },
            "moon": {
                "front": "<div class=\"moon\">",
                "end": "</div>"
            },
            "first_tier": {
                "front": "<div class=\"first_tier\">",
                "end": "</div>"
            },
            "second_tier": {
                "front": "<div class=\"second_tier\">",
                "end": "</div>"
            },
            "changes": {
                "front": "<span id=\"\">",
                "end": "</span>"
            },
            "character": {
                "front": "",
                "end": ""
            },
            "position": {
                "front": "",
                "end": ""
            },
            "ten_years": {
                "front": "",
                "end": ""
            },
            "cheong_sun": {
                "front": "",
                "end": ""
            }
        };

        function createModule() {
            var time = $("#time").children("option:selected").val();
            var day = $("#day").val();
            var month = $("#month").val();
            var year = $("#year").val();
            var tim_gone = null;

            $.ajax({
                url: "https://ziemaytausoul.azurewebsites.net/api/DateTransformation/GetYearTransform?year=" +
                    year,
                method: "GET",
                success: function (result, status, xhr) {
                    console.log(result, xhr);
                    var transformed_year = JSON.parse(result)["result"];
                    var chinese_year = transformed_year.split("_");
                    if (chinese_year) {
                        year = chinese_year[0];
                        tim_gone = chinese_year[1];
                    } else {
                        Console.log(result);
                        Console.log(status);
                        Console.log(xhr);
                    }
                }
            });

            $.ajax({
                url: "/createModule",
                method: "POST",
                data: JSON.stringify({
                    "year": year,
                    "month": month,
                    "day": day,
                    "time": time
                }),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (result, status, xhr) {
                    LocateStar(result);
                },
                error: function (xhr, status, error) {
                    console.log(xhr.status);
                    console.log(error);
                }
            });
        }

        function LocateStar(module) {

            $.each(module, function (star, details) {
                const node_id = `${details.position}_${details.metaData[1]}`;
                const template = template_obj[details.metaData[1]];
                console.log(node_id);
                $(`#${node_id}`).append(`${template["front"]}${details.metaData[0]}${template["end"]}`);
            });
        }
    </script>
</body>

</html>