<!DOCTYPE html>
<html lang="zh-Hant-HK">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        pre {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
        }
    </style>
</head>

<body>
    <div class="container-fluid" style="height: 100vh;">
        <div class="row h-25">
            <div class="col bg-success border" id="6">
                <div>
                    <pre id="tim_gone" style="position: absolute; right:0; bottom:0;">丁<br>巳</pre>
                </div>
            </div>
            <div class="col bg-info border" id="7">
                <div>
                    <pre style="position: absolute; right:0; bottom:0;">戊<br>午</pre>
                </div>
            </div>
            <div class="col bg-warning border" id="8">
                <div>
                    <pre style="position: absolute; right:0; bottom:0;">己<br>未</pre>
                </div>
            </div>
            <div class="col bg-info  border" id="9">
                <div>
                    <pre style="position: absolute; right:0; bottom:0;">庚<br>申</pre>
                </div>
            </div>
        </div>
        <div class="row h-25">
            <div class="col bg-info border" id="5">
                <div>
                    <pre style="position: absolute; right:0; bottom:0;">丙<br>辰</pre>
                </div>
            </div>
            <div class="col-6 bg-success border border-bottom-0" id="mid-high">middle-high</div>
            <div class="col bg-warning border" id="10">
                <div>
                    <pre style="position: absolute; right:0; bottom:0;">辛<br>酉</pre>
                </div>
            </div>
        </div>
        <div class="row h-25">
            <div class="col bg-info border" id="4">
                <div>
                    <pre style="position: absolute; right:0; bottom:0;">乙<br>卯</pre>
                </div>
            </div>
            <div class="col-6 bg-success border border-top-0" id="mid-low">middle-low
            </div>
            <div class="col bg-warning border" id="11">
                <div>
                    <pre style="position: absolute; right:0; bottom:0;">壬<br>戍</pre>
                </div>
            </div>
        </div>
        <div class="row h-25">
            <div class="col bg-success border" id="3">
                <div>
                    <pre style="position: absolute; right:0; bottom:0;">甲<br>寅</pre>
                </div>
            </div>
            <div class="col bg-info border" id="2">
                <div>
                    <pre style="position: absolute; right:0; bottom:0;">乙<br>丑</pre>
                </div>
            </div>
            <div class="col bg-warning border" id="1">
                <div>
                    <pre style="position: absolute; right:0; bottom:0;">甲<br>子</pre>
                </div>
            </div>
            <div class="col bg-info border" id="12">
                <div>
                    <pre style="position: absolute; right:0; bottom:0;">癸<br>亥</pre>
                </div>
            </div>
        </div>
    </div>
</body>

</html>