* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.rat {
  border: thin solid;
  border-width: 1px 1px 2px 1px;
}

.ox {
  border: thin solid;
  border-width: 1px 1px 2px 1px;
}

.tiger {
  border: thin solid;
  border-width: 1px 1px 2px 2px;
}

.rabbit {
  border: thin solid;
  border-width: 1px 1px 1px 2px;
}

.dragon {
  border: thin solid;
  border-width: 1px 1px 1px 2px;
}

.snake {
  border: thin solid;
  border-width: 2px 1px 1px 2px;
}

.horse {
  border: thin solid;
  border-width: 2px 1px 1px 1px;
}

.goat {
  border: thin solid;
  border-width: 2px 1px 1px 1px;
}

.monkey {
  border: thin solid;
  border-width: 2px 2px 1px 1px;
}

.rooster {
  border: thin solid;
  border-width: 1px 2px 1px 1px;
}

.dog {
  border: thin solid;
  border-width: 1px 2px 1px 1px;
}

.pig {
  border: thin solid;
  border-width: 1px 2px 2px 1px;
}

span {
  display: inline-block;
}

/*Navigation Bar*/
.navbar,
.navbar-nav,
.nav-item,
.form-inline {
  width: 100%;
}

.form-inline>#gender,
#time {
  margin-right: 2px;
}

.form-inline>#dateType {
  margin-right: 1%;
}

/** 中間區域 **/
.center_vector {
  writing-mode: vertical-lr;
}

.center_vector span {
  text-orientation: upright;
}

/** div class="source" **/
.source {
  font-size: 2.3rem;
  padding: 10% 0%;
  height: 100%;
}

div .source span {
  font-size: 1.3rem;
}

.center_vec_other {
  font-size: 1.2rem;
}

.center_vec_border {
  border: thin solid;
  border-width: 0.5px 0.5px 0.5px 0.5px;
}

.special {
  padding-left: 20%;
  text-align: center;
  height: 100%;
  width: 100%;
}

[id*="special"] {
  font-size: 1.4rem;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

[id*="ten_years_positioning"] {
  margin-block-end: 2%;
}

/*
[id*="year_data"] {
  margin: 0% 0% 0% 0%;
  margin-block-end: 2%;
}

[id*=anatomy_core] {
  margin-block-end: 2%;
}

[id*=body_core] {
  margin-block-end: 2%;
}

[id*=module_core] {
  margin-block-end: 2%;
}

[id*=module_level] {
  margin-block-end: 2%;
}

[id*=birth_data] {
  margin-block-end: 2%;
}

*/

/** 中間區域 **/
.content {
  text-align: center;
  width: 100%;
  height: 66.7%;
}

.main_content {
  text-align: center;
  width: 100%;
  height: 66.7%;
}

/** 主星 **/
.main {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 1.4rem;
  text-align: justify;
  height: 100%;
  padding-top: 10%;
}

[class*="_copy"] {
  color: rgba(132, 134, 133, 1)
}

/** 八吉(昌曲/輔弼/魁鉞/祿馬)四煞(羊陀/火鈴) **/
.moon {
  float: right;
  font-size: 1.1rem;
  height: 100%;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.special_moon{
  color: darkred;
}

.first_tier {
  writing-mode: vertical-lr;
  /*text-orientation: upright;*/
  width: fit-content;
  height:50%;
  padding: 0;
  font-size: 1rem;
  vertical-align: bottom;
  float: left;
}

.second_tier {
  writing-mode: vertical-lr;
  /*text-orientation: upright;*/
  width: fit-content;
  height: 50%;
  padding: 0;
  font-size: 1rem;
  vertical-align: bottom;
  float: left;
}

/** 十年大運 **/
.ten_years {
  text-align: center;
  font-size: 1.2rem;
  bottom: 0px;
}

/** 長生 **/
.cheong_sun {
  text-align: center;
  font-size: 1.2rem;
  bottom: 0px;
}

/** 十二宮宮位 **/
.character {
  writing-mode: vertical-lr;
  text-orientation: upright;
  width: auto;
  height: 100%;
  float: right;
  font-size: 1.2rem;
  cursor: pointer;
}

/** 十二宮天干地支 **/
.position {
  writing-mode: vertical-lr;
  text-orientation: upright;
  width: auto;
  height: 100%;
  float: right;
  font-size: 1.2rem;
}

/* 流曜 */
.m_moon {
  float: right;
  font-size: 1.1rem;
  height: 100%;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-style: italic;
}

.m_second_tier {
  writing-mode: vertical-lr;
  /*text-orientation: upright;*/
  width: fit-content;
  height: 50%;
  padding: 0;
  font-size: 1rem;
  vertical-align: bottom;
  float: left;
}

.m_changes{
  font-size: 1.2rem;
}


/*.moving_year {
  background: rgba(0, 0, 150, 0.15);
  background-clip: content-box;
}

.moving_month{
  background:rgba(11, 104, 11, 0.15);
  background-clip: content-box;
}

.moving_day {
  background: rgba(192, 77, 0, 0.15);
  background-clip: content-box;
}*/
/* row css */
.row-1 {
  height: 8.33%;
}

.row-2 {
  height: 16.66%;
}

.row-3 {
  height: 25%;
}

.row-4 {
  height: 33.33%;
}

.row-5 {
  height: 41.66%;
}

.row-6 {
  height: 50%;
}

.row-7 {
  height: 58.33%;
}

.row-8 {
  height: 66.66%;
}

.row-9 {
  height: 75%;
}

.row-10 {
  height: 83.33%;
}

.row-11 {
  height: 91.66%;
}

.row-12 {
  height: 100%;
}

[class*="row-"] ::after {
  content: "";
  clear: both;
  display: table;
  position: relative;
  width: 100%;
}

/* column css*/
[class*="col-"] {
  float: left;
  padding: 0;
}

.col-1 {
  width: 8.33%;
  height: 100%;
}

.col-2 {
  width: 16.66%;
  height: 100%;
}

.col-3 {
  width: 25%;
  height: 100%;
}

.col-4 {
  width: 33.33%;
  height: 100%;
}

.col-5 {
  width: 41.66%;
  height: 100%;
}

.col-6 {
  width: 50%;
  height: 100%;
}

.col-7 {
  width: 58.33%;
  height: 100%;
}

.col-8 {
  width: 66.66%;
  height: 100%;
}

.col-9 {
  width: 75%;
  height: 100%;
}

.col-10 {
  width: 83.33%;
  height: 100%;
}

.col-11 {
  width: 91.66%;
  height: 100%;
}

.col-12 {
  width: 100%;
  height: 100%;
}

.col-mid {
  width: 20%;
  height: 100%;
}

.col-beside {
  width: 40%;
  height: 100%;
}